[user]
    email = "<email>"
    name = "<name>"

[alias]
    st = status
    ss = status -s
    co = checkout
    br = branch
    sw = switch
    pr = pull -r
    cm = commit
    ps = push
    fixit = commit --amend --no-edit

